/* Header.css */
.navbar {
  background-color: #fff;
  padding: 10px;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  min-height: 80px;
}

.logo {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  position: fixed;

}

.nav-links {
  display: flex;
  align-items: center;
  margin: auto;
  color: #6F6F6F;
  font-weight: 400;
}

.nav-link {
  text-decoration: none;
  color: #6F6F6F;
  font-weight: 400;
  padding: 0 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  /* color: #555; */
  color: orange;
}

.active-link {
  color: red;
}
