*{
	margin: 0px;
	padding: 0px;
}
.home{
	background: #FEFBF7;
}
.we-do{
	text-align: center;
	/*margin-top: 20px;*/
}
#findTechnicianButton{
	margin-top: 20px;
	display: inline-block;
	min-height: 40px;
	background: #EC8206;
	align-items: center;
	border-radius: 20px;
	
}
#findTechnicianButton button{
	margin: 10px 10px;
	border: none;
	background: none;
}
#phone-samples {
	min-height: 145px;
	background: #262A4F;
	margin-top: 55px;
	/*max-height: 100px;*/
	/*text-align: center;*/
	/*display: flex;*/
	align-items: center;
	justify-content: center;
	display: flex;

}
.phone_sample img{
	max-height: 150px;
	margin: 20px 0px;
	/*overflow-y: hidden;*/
}
.phone_sample1 img{
	max-height: 150px;
	margin: 20px 80px;
}
.phone_sample2 img{
	max-height: 150px;
	margin: 20px 0px;
}
#booking {
	text-align: center;
	margin-top: 80px;
}
.booking {
	text-align: center;
}
#service_picture{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#service_picture img{
	width: 240px;
}
.service_picture {
	min-height: 45px;
	min-width: 45px;
	/*background: grey;*/
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}
.arrow1{
	font-size:100px;
	/*display: flex;*/
	/*max-width: 300px;*/
}
.arrow1 p{
	display: inline-block;
	/*background: gold;*/
}
.testimonials {
	text-align: center;
}
.testimonials h1{
	margin-top: 80px;
	/*background: blue;*/
}
.testimonial_picture{
	display: inline-block;
	min-width: 100px;
	max-width: 450px;
	min-height: 100px;
	/*background: grey;*/
	vertical-align: middle;
	border-radius: 5px;
}
.testimonial_picture img{
	height: 100px;
	/*width: 100px;*/
	/*border-radius: 50%;*/
}
.testimonial_picture2{
	display: inline-block;
	min-width: 100px;
	max-width: 450px;
	min-height: 100px;
	vertical-align: middle;
	margin:0px  10px 0px 10px;
}

#find_button {
	margin-top: 20px;
}

.section {
	/*position: relative;*/
	min-height: 1050px;
	/*align-items: center;*/
	/*justify-content: center;*/
	/*margin-bottom: 50px;*/
	margin-top: 50px;
	/*z-index: 0;*/
	/*background: gold;*/
	margin-bottom: 70px;
}

#find_your {
	display: flex;
	position: absolute;
	min-height: 80px;
	width: 80%;
	background: #262A4F;
	margin-left: 10%;
	z-index: 1;
	align-items: center;
	justify-items: center;
	color: white;
}
#find_your_nearby_technician{
	display: inline-block;
	/*vertical-align: middle;*/
	margin-left: 10%;

}
#find_a_technician{
	display: inline-block;
	/*vertical-align: middle;*/
	background: #EC8206;
	/*min-width: 200px;*/
	padding: 10px;
	/*float: right;*/
	/*margin-right: 20%;*/
	text-align: center;
	border-radius: 25px;
	margin-top: 5px;
	margin-left: 40%;
}
#why_us {
	position: absolute;
	min-height: 1000px;
	top:  1320px;
	width: 100%;
	background: #FFF3E4;
	/*margin-left: 10%;*/
	/*margin-bottom: 50px;*/
}
#why_for_large_screen{
	margin:170px 0px 0px 40%;
	font-size: 50px;
}
#why_for_small_screen{
	display: none;
}
#box1 {
	/*max-height: 400px;*/
	max-width: 30%;
	display: inline-block;
	background: #4d4c4c;
	margin-top: 170px;
	margin-left: 5%;
	border-radius: 20px;
	vertical-align: top;
}
#box1 img{
	max-height: 500px;
}
#box2 {
	/*background: gray;*/
	min-height: 400px;
	display: inline-block;
	width: 60%;
	margin-left: 5%;
	vertical-align: top;
	margin-top: 80px;

}

#inner_box1{
	display: flex;
	align-items: center;
}
#inner_box3{
	/*background: white;*/
	margin-top: 60px;
	display: flex;
	align-items: center;
}
#inner_box2{
	margin-left: 20%;
	margin-top: 60px;
}
#circle {
	min-height: 80px;
	min-width: 80px;
	display: inline-block;
	background: #EC8206;
	border-radius: 50%;
	margin-top: 20px;
	/*display: absolute;*/
	vertical-align: top;
}
#flex_circle{
	display: flex;
	align-items: center;
	justify-content: center;
	/*background: white;*/
	vertical-align: middle;
}
#flex_circle img{
	max-height: 50px;
	margin-top: 18px;
}

#text_content{
	display: inline-block;
	min-width: 50%;
	min-height: 80px;
	/*background: gold;*/
	margin-left: 15px;
}

#heading{
	/*line-height: 5px;*/
}
#arrow_left {
	background: grey;
	display: inline-block;
	min-width: 25px;
	min-height: 25px;
	border-radius: 50%;
}
#arrow_right {
	background: grey;
	display: inline-block;
	margin-left: 50%;
	min-width: 25px;
	min-height: 25px;
	border-radius: 50%;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

