@media screen and (min-width: 201px) and (max-width: 900px){
	#find_your {
		display: block;
		position: static;
		min-height: 80px;
		width: 100%;
		background: #262A4F;
		margin-left: 0%;
		z-index: 1;
		text-align: center;
		align-items: center;
		justify-content: center;
		color: white;
	}
	#find_your_nearby_technician{
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		margin-left: 0%;
		min-width: 80%;
		text-align: center;
		margin-top: 30px;

	}
	#find_a_technician{
		display: inline-block;
		background: #EC8206;
		padding: 10px;
		text-align: center;
		border-radius: 25px;
		margin-top: 5px;
		margin-left: auto;
		margin-bottom: 30px;
	}
	#box1 {
		display: block;
		max-width: 100%;
		margin-top: 50px;
		border-radius: 0px;
		background: white;
		text-align: center;
		/*background: white;*/
	}
	#box1 img{
		margin: auto;
		width: 80vw;
	}
	#box2 {
		/*background: gray;*/
		min-height: 400px;
		display: inline-block;
		width: 80%;
		margin-left: 10%;
		/*margin-left: 5%;*/
		/*margin-right: 5%;*/
		vertical-align: top;
		margin-top: 80px;
		background: white;

	}
	#why_us {
		position: static;
		min-height: 1000px;
		/*top:  1320px;*/
		width: 100%;
		/*background: green;*/
		/*margin-left: 10%;*/
		/*margin-bottom: 50px;*/
	}
	#why_for_large_screen{
		margin:170px 0px 0px 40%;
		font-size: 50px;
		display: none;
	}
	#why_for_small_screen{
		display: block;
		font-size: 40px;
		text-align: center;
		font-weight: bold;
		margin-top: 20px;
	}
	#why_for_small_screen1{
		display: block;
		text-align: center;
		font-size: 30px;
	}
	#inner_box2{
		display: flex;
		align-items: center;
		margin-left: 0%;
		margin-top: 60px;
	}
	#testimonials {
		display: flex;
		text-align: center;
	}
	.section {
		/*position: relative;*/
		min-height: 1050px;
		/*align-items: center;*/
		/*justify-content: center;*/
		/*margin-bottom: 50px;*/
		/*margin-top: 50px;*/
		/*z-index: 0;*/
		/*background: gold;*/
		/*margin-bottom: 70px;*/
	}
	.phone_sample img{
	max-height: 105px;
	margin: 20px 0px;
	/*overflow-y: hidden;*/
	}
	.phone_sample1 img{
		max-height: 150px;
		margin: 10px 10px;
		max-width: 150px;
	}
	.phone_sample2 img{
		max-height: 105px;
		margin: 20px 0px;
	}
	.arrow1{
		font-size:20px;
	}
	#booking {
		text-align: center;
		font-size: 25px;
		font-weight: bold;
	}
	.testimonials h1{
		margin-top: 80px;
		margin-bottom: 20px;
		font-size: 50px;
		font-weight: bold;
	}
	.testimonial_picture2{
		display: inline-block;
		min-width: 100px;
		max-width: 450px;
		min-height: 100px;
		vertical-align: middle;
		margin:0px  10px 0px 10px;
		font-size: 10px;
	}
	.word_color1{
		color: #EC8206;
	}


}

@media screen and (min-width: 901px) and (max-width: 1300px){
	#why_us {
	position: absolute;
	/*min-height: 1400px;*/
	top:  1320px;
	width: 100%;
	background: #FFF3E4;
	/*margin-left: 10%;*/
	/*margin-bottom: 50px;*/
	}

}
@media screen and (min-width: 500px) and (max-width: 900px){
	.testimonial_picture2{
		display: inline-block;
		min-width: 100px;
		max-width: 450px;
		min-height: 100px;
		vertical-align: middle;
		margin:0px  10px 0px 10px;
		font-size: 14px;
	}

}
@media screen and (min-width: 200px) and (max-width: 400px){
	#find_your_nearby_technician{
		display: inline-block;
		font-size: 12px;
		font-weight: bold;
		margin-left: 0%;
		min-width: 80%;
		text-align: center;
		margin-top: 30px;

	}
	#find_a_technician{
		display: inline-block;
		background: #EC8206;
		padding: 5px;
		text-align: center;
		border-radius: 25px;
		margin-top: 5px;
		margin-left: auto;
		margin-bottom: 30px;
		font-size: 10px;
	}
		#why_for_small_screen{
			display: block;
			font-size: 30px;
			text-align: center;
			font-weight: bold;
			margin-top: 20px;
	}

}



