*{
	margin: 0;
	padding: 0;
}
.support{
	background: #FEFBF7;
}
.got-questions{
	text-align: center;
}
.got-questions h1{
	margin-bottom: 15px;
	font-size: 30px;
	font-weight: 1000;
}
#support-block{
	margin-top: 45px;
	margin-bottom: 45px;
}
#questions{
	display: inline-block;
	vertical-align: top;
	max-width: 40%;
	min-width: 20%;
	margin-left: 10%;
}
.questions{
	margin: 0px 0px 20px 0px;
}
.questions h3{
	font-weight: bold;
	font-size: 20px;
}
#details{
	display: inline-block;
	/*max-height: 400px;*/
	/*background: grey;*/
	/*min-width: 30%;*/
	width: 40vw;
	vertical-align: top;
	margin-right: 5%;
	border-radius: 15px;
	float: right;
}
#qanda{
	max-height: 400px;
	/*min-height: 300px;*/
}

#show_more_icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: gray;
}
#show_more_text{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	color: #EC8206;

}
.show_more{
	display: flex;
	align-items: center;
	/*justify-content: center;*/
}

.more-questions{
	background: #F0F0FD;
	width: 80%;
	margin: auto;
	margin-bottom: 40px;
	border-radius: 10px;
	min-height: 75px;
	display: flex;
	align-items: center;
}
#more-questions-text{
	display: inline-block;
	margin-left: 5%;
}
#get-in-touch{
	/*display: inline-block;*/
	/*float: right;*/
	margin-right: 5%;
	margin-left: auto;
	display: inline-block;
	min-height: 40px;
	min-width: 120px;
	background: #EC8206;
	align-items: center;
	border-radius: 20px;
}
#get-in-touch h4{
	margin: 10px 10px;
}

#arrow_down{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	display: inline-block;
	font-size: 10px;
	margin-left: 10px;
	/*background: blue;*/
}
#details1{
	display: none;
}